nav {
  margin: 0;
  margin-bottom: .5rem;
  
  min-height: 5rem;
  height: min-content;
  width: 100%;

  background-color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

}